* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --green-color: #198754;
  --text-color: white;
}

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
}

nav > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav > div:nth-child(2) > h2 {
  font-weight: 400;
  font-size: 1.1rem;
}

nav > div:nth-child(3) {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav > div:nth-child(3) > button {
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

nav > div:nth-child(3) > button:nth-child(1) {
  background-color: var(--text-color);
  color: black;
  border: none;
}

nav > div:nth-child(3) > button:nth-child(2) {
  background: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
